VITE_BASE_URL=http://localhost:3000

DATABASE_URL="postgresql://postgres:password@localhost:5432/nhl-pool"
# You can also use Docker Compose to set up a local PostgreSQL database:
# docker-compose up -d

# Generate with: bun run auth:secret
BETTER_AUTH_SECRET=

# Resend email service: https://resend.com/api-keys
RESEND_API_KEY=
# Email sender address (set to your verified domain in production)
RESEND_FROM_EMAIL="NHL Pool <onboarding@resend.dev>"
